<div class="section">
    <div class="container">
        <div class="section-main">
        
            <div class="menu-area">
                <ul>
                    <li><a href="#" class="active">All</a></li>
                    <li><a href="#">Residential</a></li>
                    <li><a href="#">Commercial</a></li>
                    <li><a href="#">Institution</a></li>
                    <li><a href="#">Interior</a></li>
                    <li><a href="#">Religious</a></li>
                    <li><a href="#">Industrial</a></li>
                    <li><a href="#">Urban Planning</a></li>
                    <li><a href="#">Mixed Use</a></li>
                    <li><a href="#">Product Design</a></li>
                </ul>
            </div><!---END MENU AREA-->
    
            <div class="work-area">
                <div class="work-area-main">
                    <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product.jpg" alt="">
                            <div class="work-info">
                                <h3>AJO Idea Space</h3>
                            </div>
                        </div>
                    </div>
                    <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product1.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product1.jpg" alt="">
                            <div class="work-info">
                                <h3>Grameen Telecom Trust Bhaban</h3>
                            </div>
                        </div>
                    </div>
                    <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product2.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product2.jpg" alt="">
                            <div class="work-info">
                                <h3>Grameen Telecom Trust Bhaban</h3>
                            </div>
                        </div>
                    </div>
                    <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product3.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product3.jpg" alt="">
                            <div class="work-info">
                                <h3>Grameen Telecom Trust Bhaban</h3>
                            </div>
                        </div>
                    </div>
    
                    <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product4.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product4.jpg" alt="">
                            <div class="work-info">
                                <h3>AJO Idea Space</h3>
                            </div>
                        </div>
                    </div>
                    <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product5.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product5.jpg" alt="">
                            <div class="work-info">
                                <h3>Grameen Telecom Trust Bhaban</h3>
                            </div>
                        </div>
                    </div>
                    <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product6.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product6.jpg" alt="">
                            <div class="work-info">
                                <h3>Grameen Telecom Trust Bhaban</h3>
                            </div>
                        </div>
                    </div>
                    <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product7.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product7.jpg" alt="">
                            <div class="work-info">
                                <h3>Grameen Telecom Trust Bhaban</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--END WORK AREA-->
        </div>
    </div>
</div>