<div class="section">
    <div class="container">
        <div class="section-main">
        
            <div class="menu-area">
                <ul>
                    <li><a [ngClass]="{'active':selectedCategory == 'All'}" routerLink="/work">All</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Residential">Residential</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Commercial">Commercial</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Institution">Institution</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Interior">Interior</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Religious">Religious</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Industrial">Industrial</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Urban Planning">Urban Planning</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Mixed Use">Mixed Use</a></li>
                    <li><a routerLinkActive="active" routerLink="/work/Product Design">Product Design</a></li>
                </ul>
            </div><!---END MENU AREA-->
    
            <div class="work-area">
                <div class="work-area-main">
                    <!-- <div class="work-card">
                        <div class="work-img">
                            <img src="./assets/images/temp/png/product.png" alt="">
                        </div>
                        <div class="work-hover">
                            <img src="./assets/images/temp/png/product.jpg" alt="">
                            <div class="work-info">
                                <h3>AJO Idea Space</h3>
                            </div>
                        </div>
                    </div> -->

                    <ng-container *ngFor="let item of projects;let i=index">
                        <div class="work-card" [routerLink]="[item.template,i]"
                          *ngIf="item.category == selectedCategory || selectedCategory == 'All'">
                          <div class="work-img">
                            <img src="{{ item.displayImg }}" alt="">
                          </div>
                          <div class="work-hover">
                            <img src="{{ item.hoverImg }}" alt="">
                            <div class="work-info">
                              <h3>{{ item.title }}</h3>
                            </div>
                          </div>
                        </div>
                      </ng-container>
 
                </div>
            </div><!--END WORK AREA-->
        </div>
    </div>
</div>