<div class="section-news">

    <div class="container">
        <div class="section-main">
            <div class="news-card" *ngFor="let data of news;let i =index" [routerLink]="['/','news',i]">
                <div class="news-img">
                    <img src="{{data.image0}}" alt="">
                </div>
                <div class="news-card-body">
                    <h3>{{data.title}}
                    </h3>
                    <p>{{data.date}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ntt-area">
    <div class="container">
        <p> copyright <span>&#169;</span> 2024 Dehsarworks. All rights are reserved.</p>
    </div>
</div>