<div class="section-news">
    <div class="section-main">
        <div class="news-card" *ngFor="let data of [1,2,3,4,5,6,7,8]">
            <div class="news-img">
                <img src="./assets/images/temp/png/news-1.png" alt="">
            </div>
            <div class="news-card-body">
                <h3>Projects Published in “Architecture in transition: emergent practices in South Asia”; a book ini ...
                </h3>
                <p>FEB 13, 2024</p>
            </div>
        </div>
    </div>
</div>


<div class="ntt-area">
    <p> copyright <span>&#169;</span> 2024 Dehsarworks. All rights are reserved.</p>
</div>