<div class="all">
  <section class="one">
    <div class="hero">
      <img src="../../../assets/images/temp4.1.png" alt="" />
    </div>
  </section>

  <section class="two">
    <div class="sideImg">
      <img src="../../../assets/images/temp4.2.png" alt="" />
    </div>
    <div class="texts">
      <div class="info">
        <div class="box">
          <div class="box1">
            <h3>Project address:</h3>
            <p>
              (23°52'13.6"N 90°23'31.8"E) Road 2, Sector 13, Uttara, 1230 Dhaka,
              Bangladesh
            </p>
          </div>
          <div class="box1">
            <h3>Client:</h3>
            <p>Khaled Mahmud</p>
          </div>
          <div class="box1">
            <h3>Design Period:</h3>
            <p>July 2015-Oct 2016</p>
          </div>
          <div class="box1">
            <h3>Construction Period:</h3>
            <p>
              November 2015-January 2017 (active construction period 6 months)
            </p>
          </div>
          <div class="box1">
            <h3>Status:</h3>
            <p>Operational from January 2017</p>
          </div>
        </div>
        <hr />
      </div>
      <div class="para">
        <h1>
          AJO, in Bangla is often used to describe something old, left out or
          irrelevant to its time. The word was used by the restaurant’s Founder
          and ideator Khaled Mahmud
        </h1>
        <p>
          as the idea was to convert a left over space and turn it into a unique
          cafe near an art gallery. It was a very popular hangout space among
          people including artist, thinkers and designers. It acted as a
          platform where any one could meet and talk with artists and
          intellects.
        </p>

        <hr />

        <div class="titlebox">
          <h3>Design Teams:</h3>

          <div class="box1">
            <div class="title">Principal architect:</div>
            <div class="subtitle">Ar.Rashed Hassan Chowdhury</div>
          </div>

          <div class="box2">
            <div class="title">Project Architect:</div>
            <div class="subtitle">Ar.Sayedil Ashrafin, Ar.Emon Mahbub</div>
          </div>

          <div class="box3">
            <div class="title">Landscape Architect: </div>
            <div class="subtitle">In house Collaborators</div>
          </div>

          <div class="box4">
            <div class="title">Structural designer: </div>
            <div class="subtitle">
              Engr.Shamsul Alam
              <br />
              Engr.Asaduzzaman
              <br />
              Engr.Mamunur Rashid
              <br />
              Electrical Engr. Afzal Ahmed
              <br />
              Mechanical Engr. Kamruzzaman
            </div>
          </div>

          <div class="box5">
            <div class="title">Construction Firm:</div>
            <div class="subtitle">ALM Steel Building Technology limited</div>
          </div>

          <div class="box6">
            <div class="title">Supported by:</div>
            <div class="subtitle">Mir Akter Real Estate</div>
            <hr />
          </div>

          <div class="box7">
            <div class="title">Accolades:</div>
            <div class="subtl">
              <div class="subtitle">
                1. Berger Award for Excellence in <br />Architecture, 2017 Best
                Architects' Award <br />
                Category: Commercial / Mercantile / <br />
                Outlet Category
              </div>
              <hr />
              <div class="subtitle">
                2. 28th JK AYA (Architect of the Year <br />
                Awards) 2018 Young Architect Award <br />
                Category: Foreign Country Architecture <br />
                Award
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="three">
    <div class="bigImg">
      <img src="../../../assets/images/temp4.3.png" alt="" />
    </div>
    <div class="caurosela">

      <div class="carousel-container">
      
            <div class="carousel">
              <img *ngFor="let url of imageUrls" [src]="url" />
            </div>
            <div class="pill">
      
              <button class="carousel-btn prev" (click)="scroll(-1)">&#10094;</button>
              <button class="carousel-btn next" (click)="scroll(1)">&#10095;</button>
            </div>
            
          </div>


    </div>

    <div class="sideImgTwo">
      <img src="../../../assets/images/temp4.4.png" alt="" />
      <img src="../../../assets/images/temp4.5.png" alt="" />
    </div>
    <div class="bigImg2">
      <img src="../../../assets/images/temp4.6.png" alt="" />
    </div>

    <div class="threeImg">
      <img src="../../../assets/images/temp4.7.png" alt="" />
      <img src="../../../assets/images/temp4.8.png" alt="" />
      <img src="../../../assets/images/temp4.9.png" alt="" />
    </div>
  </section>

  <section class="four">
    <div class="image">
      <img src="../../../assets/images/temp4.10.png" alt="" />
    </div>
  </section>

  <section class="five">
    <div class="image">
      <img src="../../../assets/images/temp4.11.png" alt="" />
    </div>
  </section>

  <section class="six">
    <div class="img">
      <img src="../../../assets/images/temp4.12.png" alt="" />
    </div>
    <div class="video">
      <button class="active">Play</button>
      <video id="myVideo" muted loop autoPlay>
        <source src="../../../assets/videos/testvid1.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="box">
      <div class="title">Previous project:</div>
      <div class="subtitle">Next project:</div>
    </div>
  </section>
</div>

<app-category></app-category>
