<div class="all">
  <section class="one">
    <div class="hero">
      <img src="{{ selectedProject.photoLink0 }}" alt="" />
    </div>
  </section>

  <section class="two">
    <div class="sideImg">
      <img src="{{ selectedProject.photoLink1 }}" alt="" />
    </div>
    <div class="texts">
      <div class="info">
        <div class="box">
          <div class="box1">
            <h3>Project address:</h3>
            <p>
              {{selectedProject.projectAddress}}
            </p>
          </div>
          <div class="box1">
            <h3>Client:</h3>
            <p>{{selectedProject.client}}</p>
          </div>
          <div class="box1">
            <h3>Design Period:</h3>
            <p>{{ selectedProject.designperiod }}</p>
          </div>
          <div class="box1">
            <h3>Construction Period:</h3>
            <p>
              {{selectedProject.constructionPeriod}}
            </p>
          </div>
          <div class="box1">
            <h3>Status:</h3>
            <p>{{selectedProject.status}}</p>
          </div>
        </div>
        <hr />
      </div>
      <div class="para">
        <h1>
          {{selectedProject.highlightedDescription}}
        </h1>
        <p>
          {{selectedProject.generalDescription}}
        </p>

        <hr />

        <div class="titlebox">
          <h3>Design Teams:</h3>

          <div class="box1">
            <div class="title">Principal architect:</div>
            <div class="subtitle">{{ selectedProject.principalArchitect }}</div>
          </div>

          <div class="box2">
            <div class="title">Project Architect:</div>
            <div class="subtitle">{{ selectedProject.projectArchitect }}</div>
          </div>

          <div class="box3">
            <div class="title">Landscape Architect: </div>
            <div class="subtitle">{{ selectedProject.landscapeArchitect }}</div>
          </div>

          <div class="box4">
            <div class="title">Structural designer: </div>
            <div class="subtitle">
              <!-- Engr.Shamsul Alam
              <br />
              Engr.Asaduzzaman
              <br />
              Engr.Mamunur Rashid
              <br />
              Electrical Engr. Afzal Ahmed
              <br />
              Mechanical Engr. Kamruzzaman -->

              <ng-container *ngFor="let item of selectedProject.structuralDesigner.split(',')">
                {{ item.trim() }}
                <br />
              </ng-container>


            </div>
          </div>

          <div class="box5">
            <div class="title">Construction Firm:</div>
            <div class="subtitle">{{selectedProject.constructionFirm}}</div>
          </div>

          <div class="box6">
            <div class="title">Supported by:</div>
            <div class="subtitle">{{selectedProject.supportedBy}}</div>
            <hr />
          </div>

          <div class="box7">
            <div class="title">Accolades:</div>
            <div class="subtl">
              <ng-container *ngFor="let item of selectedProject.accolades;let i=index">
                <div class="subtitle" [innerHTML]="item">
                </div>
                <hr *ngIf="i!=selectedProject.accolades.length-1" />
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="three">
    <div class="bigImg">
      <img src="{{ selectedProject.photoLink2 }}" alt="" />
    </div>
    <div class="caurosela">

      <div class="carousel-container">

        <div class="carousel">
          <img *ngFor="let url of imageUrls" [src]="url" />
        </div>
        <div class="pill">

          <button class="carousel-btn prev" (click)="scroll(-1)">&#10094;</button>
          <button class="carousel-btn next" (click)="scroll(1)">&#10095;</button>
        </div>

      </div>


    </div>

    <div class="sideImgTwo">
      <img src="{{ selectedProject.photoLink3 }}" alt="" />
      <img src="{{ selectedProject.photoLink4 }}" alt="" />
    </div>
    <div class="bigImg2">
      <img src="{{ selectedProject.photoLink5 }}" alt="" />
    </div>

    <div class="threeImg">
      <img src="{{ selectedProject.photoLink6 }}" alt="" />
      <img src="{{ selectedProject.photoLink7 }}" alt="" />
      <img src="{{ selectedProject.photoLink8 }}" alt="" />
    </div>
  </section>

  <section class="four">
    <div class="image">
      <img src="{{ selectedProject.photoLink9 }}" alt="" />
    </div>
  </section>

  <section class="five">
    <div class="image">
      <img src="{{ selectedProject.photoLink10 }}" alt="" />
    </div>
  </section>

  <section class="six">
    <div class="img">
      <img src="{{ selectedProject.photoLink11 }}" alt="" />
    </div>
    <div class="video" (click)="playPauseAction()">
      <button class="active">
        {{ playPauseText }}</button>
      <video id="myVideo" loop>
        <source src="../../../assets/videos/testvid1.mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="box">
      <a [href]="'/work/'+previousProject.template+'/'+previd">
        <div class="title">Previous project</div>
      </a>
      <a [href]="'/work/'+nextProject.template+'/'+nextid">
        <div class="subtitle">Next project</div>
      </a>
    </div>
  </section>
</div>

<app-category></app-category>