@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Manrope:wght@200..800&display=swap');
@font-face{
    font-family: 'primary-font';
    //src: url('./../assets/fonts/OverusedGrotesk-ExtraBold-BF64eeac17d4c2c.ttf');
    src: url('./../assets/fonts/Replica-Bold.ttf');
    font-weight: bold;
}
@font-face{
    font-family: 'primary-font';
    src: url('./../assets/fonts/Replica-Bold.ttf');
    font-weight: 700;
}
@font-face{
    font-family: 'primary-font';
    //src: url('./../assets/fonts/OverusedGrotesk-SemiBold-BF64eeac17f0443.ttf');
    src: url('./../assets/fonts/Replica-Regular.ttf');
    font-weight: 600;
}
@font-face{
    font-family: 'primary-font';
    //src: url('./../assets/fonts/OverusedGrotesk-Medium-BF64eeac18163be.ttf');
    src: url('./../assets/fonts/Replica-Regular.ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'primary-font';
    //src: url('./../assets/fonts/OverusedGrotesk-Light-BF64eeac18175cf.ttf');
    src: url('./../assets/fonts/Replica-Light.ttf');
    font-weight: 400;
}