// Fonts Family
$font-en-primary:'primary-font',sans-serif;
$bank-gothic-medium: 'bank_gothic_medium', 'arial', sans-serif;
$nexa-bold: 'nexa_bold', 'arial', sans-serif;
$nexa-light: 'nexa_light', 'arial', sans-serif;
$cocon-regular: 'cocon_regular', 'arial', sans-serif;
$shorif-jonota: 'shorif_jonota', sans-serif;
$segoe_ui_regular: 'segoe_ui_regular', sans-serif;
$segoe_ui_bold: 'segoe_ui_bold', sans-serif;
$shorif-jonota: 'shorif_jonota', sans-serif;


//Container
$container-max-width: 1400px;

// COLOR
$color-gray: #524C4C;
$color-primary:#009345;
$color-danger:#d40000;
$heading-color: #000000;
$text-color: #524C4C;
$color-black:#000000;
$color-bg:#F6F6F6;
$color-white:#ffffff;

// FONT SIZE
$font-title-size: 38px;
$font-title-md-size: 18px;
$font-dis-size: 16px;
