<div class="section">

    <div class="container">
        <div class="section-main">
            <div class="news-area">
                <div class="news-card responsive-card">
                    <div class="news-card-body">
                        <h3>Projects Published in “Architecture in transition: emergent practices in South Asia”; a book ini
                            ...
                        </h3>
                        <p>FEB 13, 2024</p>
                    </div>
                </div>

                <div class="news-description-area">
                    <p>Dehsar Works is humbled to be a part of the publication “Architecture in transition: emergent
                        practices in South Asia”! The book is initiated by the Lakshmi Mittal South Asia Institute at
                        Harvard University, Harvard Graduate School of Design and supported by Architecture foundation,
                        India.</p>
                </div>
             
    
                <div class="news-details-img-area">
                    <div class="news-details-img">
                        <img src="./assets/images/temp/png/Rectangle 139.png" alt="">
                    </div>
                    <div class="news-details-img">
                        <img src="./assets/images/temp/png/Rectangle 140.png" alt="">
                    </div>
                    <div class="news-details-img">
                        <img src="./assets/images/temp/png/Rectangle 141.png" alt="">
                    </div>
                </div>
    
                
                <div class="ntt-area">
                    <p> copyright <span>&#169;</span> 2024 Dehsarworks. All rights are reserved.</p>
                </div>
    
            </div><!--END NEWS AREA-->
        </div>
    </div>
</div>