@import'../../../theme/variables';
.section{
    padding-top: 82px;
    .section-main{
        display: grid;
        grid-template-columns: 400px 1fr;
    }

    .section-video{
        margin-top: 20px;
    }
}
@media(max-width:1000px){
    .section{
        .section-main{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media(max-width:800px){
    .section{
        padding-top: 62px;
        .section-main{
            padding-left: 0px;
        }
    }
}

@media(max-width:600px){
    .section-video{
        iframe{
            height: 300px;
        }
    }
}

/* --- SIDE BAR CSS --- */
.side-bar{
    padding: 40px 15px 15px 15px;
    background-color: $color-white;
}
@media(max-width:1100px){
    .side-bar{
        padding: 20px 15px 0px 0px;
    }
}

/* ---  NEWS AREA CSS --- */

.news-area{
    padding: 40px 20px 20px 30px;
    .news-description-area{
        margin-bottom: 45px;
        p{
            color: $color-black;
            font-family: $font-en-primary;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
        }
    }
    .news-details-img{
        margin-bottom: 30px;
        &:last-child{
            margin: 0px;
        }
        img{
            width: 100%;
        }
    }

}



@media(max-width:1100px){
    .news-area{
        padding-inline: 15px;
    }
}

@media(max-width:1000px){
    .news-area{
        padding: 20px 0px 20px 0px;
    }
}

@media(max-width:800px){
    .news-area{
        .news-description-area{
            margin-bottom: 20px;
        }
        .news-details-img{
            margin-bottom: 20px;
        }
    }
}



/* ---- NEWS CARD CSS --- */
.news-card{
    cursor: pointer;
    &.responsive-card{
        display: none;
        margin-bottom: 25px!important;
    }
    .news-img{
        width: 100%;
        margin-bottom: 17px;
    }
    .news-card-body{
        h3{
            color: $color-black;
            font-family: $font-en-primary;
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow:hidden;
            text-overflow: ellipsis;
            line-height: 25px;
            margin-bottom: 14px!important;
        }
        p{
            color: $color-black;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            font-style: normal;
        }
    }
}

@media(max-width:1000px){
    .news-card{
        &.responsive-card{
            display: block;
        }
    }
}


/* ---- NTT CSS AREA --- */
.ntt-area{
    padding-top: 50px;
    text-align: right;
    p{
        color: $color-black;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: normal;
        span{
            font-weight: 600;
        }
    }
}


@media(max-width:800px){
    .ntt-area{
        text-align: center;
        padding: 30px 0px 0px 0px;
    }
}

