@import'../../../theme/variables';
.section{
    padding-top: 82px;
    .section-main{
        display: grid;
        grid-template-columns: 300px 1fr;
    }
}
@media(max-width:1000px){
    .section{
        .section-main{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media(max-width:800px){
    .section{
        padding-top: 62px;
    }
}


/* --- SIDE BAR CSS --- */
.side-bar{
    padding: 30px 0px 15px 0px;
    background-color: $color-white;
    h3{
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: normal;
        display: block;
 
    }
}
@media(max-width:1000px){
    .side-bar{
        display: none;
    }
}

/* --- Team AREA CSS --- */

.team-area{
    padding: 30px 20px 30px 20px;
    .team-description-area{
        margin-bottom: 65px;
        h3{
            color: $color-black;
            font-family: $font-en-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 25px;
            display: none;
            margin-bottom: 15px!important;
        }
        p{
            color: $color-black;
            font-family: $font-en-primary;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
        }
    }
    .team-area-main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px 20px;
        
    }
}

.team-card{
    cursor: pointer;
    .team-img{
        margin-bottom: 20px;
    }
    .team-body{
        a{
            color: $color-black;
            font-family: $font-en-primary;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            margin-bottom: 10px!important;
        }
        p{
            color: $color-black;
            font-family: $font-en-primary;
            font-weight: 400;
            font-size: 15px;
            line-height: normal;
        }
        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 15px;
            li{
                a{
                    svg{
                        transition: all 0.3s linear;
                        &.fill{
                            display: none;
                        }
                        &.outline{
                            display: block;
                        }
                    }
                    &:hover{
                        svg{
                            &.fill{
                                display: block;
                            }
                            &.outline{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1300px){
    .team-area{
        .team-area-main{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


@media(max-width:1000px){
    .team-area{
        padding:20px 0px;
        .team-description-area{
            margin-bottom: 30px;
            h3{
                display: block;
            }
            p{
                font-size: 17px;
                line-height: 20px;
                font-weight: 400;
            }
        }
        .team-area-main{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media(max-width:900px){
    .team-area{
        .team-area-main{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}



@media(max-width:650px){
    .team-area{
        .team-description-area{
            margin-bottom: 20px;
        }
        .team-area-main{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .team-card{
        border: 1px solid #eee;
        .team-body{
            padding: 0px 12px;
        }
    }
}


/* ---- NTT CSS AREA --- */
.ntt-area{
    padding-top: 60px;
    text-align: right;
    p{
        color: $color-black;
        font-family: $font-en-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: normal;
        span{
            font-weight: 600;
        }
    }
}


@media(max-width:800px){
    .ntt-area{
        text-align: center;
        padding: 30px 0px 0px 0px;
    }
}