@import'../../../theme/variables';
.header{
    padding-block: 22px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100%;
    background-color: transparent;
    .header-main{
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .logo{

            img{
                cursor: pointer;
                width: 62px;
                height: 37px;
            }
        }
        .header-menu{
            ul{
                list-style: none;
                padding: 0px;
                margin: 0px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 45px;
                li{
                    a{
                        color: $text-color;
                        font-family: $font-en-primary;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        display: block;
                        transition: all 0.3s linear;
                        &.active{
                            color: $color-black;
                            font-weight: 600;
                        }
                        &:hover{
                            color: $color-black;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .icon-bar{
            width: 24px;
            height: 24px;
            display: none;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            span{
                background-color: #000000;
                width: 100%;
                height: 2px;
                display: block;
                transition: all 0.3s linear;
            
            }

            &.active {
                span {
                  &.line-2 {
                    display: none;
                  }
      
                  &.line-1 {
                    width: 100%;
                    transform: rotate(45deg) translateX(5px);
                  }
      
                  &.line-3{
                    width: 100%;
                    transform: rotate(-45deg) translate(8px, -4px);
      
                  }
                }
      
              }
        }
    }
    .toggle-menu{
        position: absolute;
        top: 100%;
        transition: all 0.3s linear;
        left: 0px;
        height: 0px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: 200;
        width: 100%;
        padding: 20px 10px;
        box-sizing: border-box;
        transition: all 0.3s linear;
        background-color: $color-white;



        

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;
            li{
                display: block;
                a{
                    color: #524C4C;
                    font-family: grotesk;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 50px;
                    padding: 8px 6px;
                    box-sizing: border-box;
                    transition: all 0.3 linear;
                    width: 100%;
                    &.active{
                        color: black;
                        font-weight: 700;
                    }
                }
            }
        }
        &.active{
            height: 100dvh;
            visibility: visible;
            opacity: 1;
        }

        .address{
            padding-top: 30%;
            span{
              font-family: grotesk;
              font-size: 15px;
              text-align: left;
              padding-left: 3%;
              line-height: 5px;
              font-weight: 500;
              color: black;
            }

            .spn{
              font-size: 14px;
              font-family: grotesk;
              padding-left: 3%;
              color: #000000 !important;

            }
          }

          h6{
            font-size: 13px;
            font-family: grotesk;
            text-align: center;
            padding-top: 20%;
          }
    }
}

@media(max-width:800px){
    .header{
        padding-block: 15px;
        background-color: $color-white;
        border-bottom: 1px solid #F6F6F6;
        .header-main{
            .logo{

                img{
                    width: 45px;
                    height: 30px;
                }
            }
            .header-menu{
                display: none;
            }
            .icon-bar{
                display: flex;
            }
        }
    }
}

.bgwhite{
    background-color: $color-white;
    border-bottom: 1px solid #F6F6F6;
}