<div class="header">
    <div class="header-main">
           <div class="logo">
                <img src="./assets/images/brand/logo/logo.svg" alt="">
           </div>
           <div class="header-menu">
               <ul>
                   <li><a href="#" class="active">Works</a></li>
                   <li><a href="#">News</a></li>
                   <li><a href="#">About</a></li>
                   <li><a href="#">Connect</a></li>
               </ul>
           </div>
           <div class="icon-bar">
                  <span class="line-1"></span>
                  <span class="line-2"></span>
                  <span class="line-3"></span>
           </div>
    </div>
</div>