<div class="contact-us">
    <div class="container">
        <div class="contact-us-main">
            <div class="contact-us-left">
                <h3>We’d love to talk to you face to face about our work, what we do and how we might help.</h3>
                <h3>So please get in touch.</h3>
            </div>
            <div class="contact-us-right">
                <img src="./assets/images/temp/png/contact-us.png" alt="">
            </div>
        </div>
        <div class="contact-info">
            <p>House 82, Road 05, Block F, Banani, Dhaka 1213, Bangladesh</p>
            <p>+8801796064118</p>
            <p>info&#64;dehsarworks.com</p>
            <p>Available Time- 8 AM - 5 PM</p>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
        </div>

    </div>
</div>



<div class="ntt-area">
    <div class="container">

        <p> copyright <span>&#169;</span> 2024 Dehsarworks. All rights are reserved.</p>
    </div>
</div>