<div class="section">
    <div class="container">
        <div class="section-top">
            <div class="section-top-main">
                <div class="section-top-left">
                    <h3>AJO IDEA SPACE</h3>
                </div>
                <div class="section-top-right">
                    <div class="work-info">
                        <ul>
                            <li>Project name: Ajo Idea Space</li>
                            <li>Building Programme and Type: Café and restaurant with community engagement program</li>
                            <li>Design Team: Principal architect: Ar.Rashed Hassan Chowdhury Project Architect: Ar.Sayedil
                                Ashrafin, Ar.Emon Mahbub Landscape</li>
                            <li>Architect: In house Collaborators: Structural designer: Engr.Shamsul Alam, Engr.Asaduzzaman,
                                Engr.Mamunur Rashid Electrical Engr. Afzal Ahmed, Mechanical Engr. Kamruzzaman Construction
                                Firm: ALM Steel Building Technology limited and Supported by Mir Akter Real Estate</li>
                        </ul>
                    </div>
                    <div class="work-info">
                        <ul>
                            <li>Location, Project address: (23°52'13.6"N 90°23'31.8"E) Road 2, Sector 13, Uttara, 1230
                                Dhaka, Bangladesh</li>
                            <li>Client: Khaled Mahmud</li>
                            <li>Design Period: July 2015-Oct 2016</li>
                            <li>Construction Period: Nov2015-January2017 (active construction period 6 months)</li>
                            <li>Status: Operational from January 2017</li>
                            <li>Photographs: Noufel Sharif Sojol</li>
                        </ul>
                    </div>
                    <div class="work-info">
                        <ul>
                            <li>Accolades:</li>
                            <li>1. Berger Award for Excellence in Architecture, 2017 <br>
                                Best Architects' Award</li>
                            <li>Category: Commercial / Mercantile / Outlet Category</li>
                            <li>2. 28th JK AYA (Architect of the Year Awards) 2018
                                Young Architect Award</li>
                            <li>Category: Foreign Country Architecture Award</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!---END SECTION TOP -->
        <div class="section-main-area">
            <div class="section-images">
                <div class="section-img">
                    <img src="https://www.dehsarworks.com/public/uploads/cms/15500562061.jpg" alt="">
                </div>
                <div class="section-img">
                    <img src="https://www.dehsarworks.com/public/uploads/cms/15500564722.jpg" alt="">
                </div>
                <div class="section-img">
                    <img src="https://www.dehsarworks.com/public/uploads/cms/15500566613.jpg" alt="">
                </div>
                <div class="section-img">
                    <img src="https://www.dehsarworks.com/public/uploads/cms/15500569124.jpg" alt="">
                </div>

                <div class="section-img">
                    <img src="https://www.dehsarworks.com/public/uploads/cms/15500573075.jpg" alt="">
                </div>

                <div class="section-img">
                    <img src="https://www.dehsarworks.com/public/uploads/cms/15500578406.5.jpg" alt="">
                </div>
            </div><!--- END SECTION IMAGE AREA -->
            <div class="section-video">
                <iframe width="100%" height="420" src="https://www.youtube.com/embed/ryVKtY4ReFU" title="Idea space"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div><!--- END SECTION VIDEO AREA -->
        </div>


        <div class="ntt-area">
            <p> copyright <span>&#169;</span> 2024 Dehsarworks. All rights are reserved.</p>
        </div><!--- END SECTION NTT AREA -->
    </div>
</div>