<div class="section">
  <div class="container">
    <div class="section-top">
      <div class="section-top-main">
        <div class="section-top-left">
          <h3>{{ selectedProject.title }}</h3>
        </div>
        <div class="section-top-right">
          <div class="work-info">
            <p [innerHTML]="selectedProject.generalDescription"></p>
          </div>

        </div>
      </div>
    </div><!---END SECTION TOP -->
    <div class="section-main-area">
      <div class="section-images">
        <div class="section-img" *ngFor="let item of imageUrls">
          <img src="{{ item }}" alt="">
        </div>
      </div><!--- END SECTION IMAGE AREA -->
      <div class="section-video" *ngIf="selectedProject.videolink">
        <iframe width="100%" height="420" [src]="selectedProject.videolink" title="{{ selectedProject.title }}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div><!--- END SECTION VIDEO AREA -->
    </div>


    <div class="ntt-area">
      <p> copyright <span>&#169;</span> 2024 Dehsarworks. All rights are reserved.</p>
    </div><!--- END SECTION NTT AREA -->
  </div>
</div>