<div class="all">
      <section class="one">
        <h1 class="wow animate__fadeInUp" data-wow-delay="0.1s">{{ selectedProject.title }}</h1>
        <div class="spans">
          <div class="links wow animate__fadeInUp" data-wow-delay="0.3s">
            <span>Works / {{ selectedProject.category }} / {{ selectedProject.title }} </span>
          </div>
          <div class="locations wow animate__slideInUp" data-wow-delay="0.2s">
            <span> Dhaka,Bangladesh </span>
          </div>
        </div>
    
        <div class="img">
          <img class="wow" data-wow-delay=".2s" src="{{ selectedProject.photoLink0 }}" alt="">
        </div>
      </section>
    
      <section class="two">
        <div class="rectangle">
          <h3 class="wow animate__fadeInUp" data-wow-delay="0.2s">About</h3>
          <div class="paragraph">
            <h2 class="wow animate__fadeInUp" data-wow-delay="0.1s">
              {{selectedProject.highlightedDescription}}
            </h2>
    
            <p class="wow animate__fadeInUp" data-wow-delay="0.3s">
              {{selectedProject.generalDescription}}
            </p>
          </div>
    
          <div class="boxes">
            <hr class="wow" data-wow-delay=".5s" />
            <div class="box1 wow animate__fadeIn" data-wow-delay=".5s ">
              <div class="title">
                Building Programme and Type: 
              </div>
              <div class="subtitle">
                {{selectedProject.buildingType}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".6s" />
            <div class="box2 wow animate__fadeIn" data-wow-delay="1s">
              <div class="title">
                Project address:
              </div>
              <div class="subtitle">
                {{selectedProject.projectAddress}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".7s" />
            <div class="box3 wow animate__fadeIn" data-wow-delay="1.5s">
              <div class="title">
                Client: 
              </div>
              <div class="subtitle">
                {{selectedProject.client}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".8s" />
            <div class="box4 wow animate__fadeIn" data-wow-delay="1.5s">
              <div class="title">
                Design Period:
              </div>
              <div class="subtitle">
                {{selectedProject.designperiod}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".8s" />
            <div class="box5 wow animate__fadeIn" data-wow-delay="1.5s">
              <div class="title">
                Construction Period: 
              </div>
              <div class="subtitle">
                {{selectedProject.constructionPeriod}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".8s" />
            <div class="box6 wow animate__fadeIn" data-wow-delay="1.5s">
              <div class="title">
                Status:
              </div>
              <div class="subtitle">
                {{selectedProject.status}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".8s" />
          </div>
        </div>
    
        <div class="bigimg">
          <img src="{{ selectedProject.photoLink1 }}" alt="">
        </div>
      </section>
    
      <section class="three">
    
        <div class="carousel-container">
    
          <div class="carousel">
            <img *ngFor="let url of imageUrls" [src]="url" />
          </div>
          <div class="pill">
    
            <button class="carousel-btn prev" (click)="scroll(-1)">&#10094;</button>
            <button class="carousel-btn next" (click)="scroll(1)">&#10095;</button>
          </div>
    
        </div>
    
        <div class="descriptions">
    
          <div class="boxes">
            <h3 class="links wow animate__fadeIn" data-wow-delay="0.2s">
              Design Teams:
            </h3>
            <hr class="wow" data-wow-delay=".2s">
            <div class="box1 wow animate__fadeIn" data-wow-delay=".5s">
              <div class="title">
                Principal architect:
              </div>
              <div class="subtitle">
                {{selectedProject.principalArchitect}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".3s">
            <div class="box2 wow animate__fadeIn" data-wow-delay=".6s">
              <div class="title">
                Project Architect:
              </div>
              <div class="subtitle">
                {{selectedProject.projectArchitect}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".4s">
            <div class="box3 wow animate__fadeIn" data-wow-delay=".7s">
              <div class="title">
                Landscape Architect: 
              </div>
              <div class="subtitle">
                {{selectedProject.landscapeArchitect}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".5s">
            <div class="box4 wow animate__fadeIn" data-wow-delay=".8s">
              <div class="title">
                Structural designer: 
              </div>
              <div class="subtitle wow animate__fadeIn" data-wow-delay=".8s">
                <!-- Engr.Shamsul Alam
                <hr>
                Engr.Asaduzzaman
                <hr>
                Engr.Mamunur Rashid
                <hr>
                Electrical Engr. Afzal Ahmed
                <hr>
                Mechanical Engr. Kamruzzaman -->
                <ng-container *ngFor="let item of selectedProject.structuralDesigner.split(',')">
                  {{ item.trim() }}
                  <hr>
                </ng-container>
              </div>
            </div>
            <hr class="wow" data-wow-delay=".6s">
            <div class="box5 wow animate__fadeIn" data-wow-delay=".9s">
              <div class="title">
                Construction Firm:
              </div>
              <div class="subtitle">
                {{selectedProject.constructionFirm}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".7s">
            <div class="box6 wow animate__fadeIn" data-wow-delay="1s">
              <div class="title">
                Supported by:
              </div>
              <div class="subtitle">
                {{selectedProject.supportedBy}}
              </div>
            </div>
    
          </div>
    
    
          <div class="img">
            <img src="{{ selectedProject.photoLink2 }}" alt="">
          </div>
        </div>
    
    
      </section>
    
    
      <section class="four">
    
        <div class="video" (click)="playPauseAction()">
          <button class="active">
            {{ playPauseText }}</button>
          <video id="myVideo" loop>
            <source src="../../../assets/videos/testvid1.mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
    
        <div class="description">
          <div class="boxes">
            <hr class="wow" data-wow-delay=".5s" />
            <div class="box1 wow animate__fadeIn" data-wow-delay=".5s">
              <div class="title">
                Photographs:
              </div>
              <div class="subtitle">
                {{selectedProject.photographs}}
              </div>
            </div>
            <hr class="wow" data-wow-delay=".5s" />
            <div class="box2 wow animate__fadeIn" data-wow-delay=".6s">
              <div class="title">
                Accolades:
              </div>
              <div class="subtitle">
                <!-- <span>
                  1. Berger Award for Excellence in Architecture, <br> 2017 Best Architects' Award <br>Category: Commercial
                  / Mercantile / Outlet <br> Category
                  <hr class="wow" data-wow-delay=".8s" />
                </span>
    
                <span>
                  2. 28th JK AYA (Architect of the Year Awards) 2018 <br> Young Architect Award <br> Category: Foreign
                  Country Architecture Award
    
                </span> -->
    
                <ng-container *ngFor="let item of selectedProject.accolades;let i=index">
                  <span [innerHTML]="item">
                  </span>
                  <hr class="wow" data-wow-delay=".8s" *ngIf="i!=selectedProject.accolades.length-1" />
                </ng-container>
    
    
    
              </div>
            </div>
            <hr class="wow" data-wow-delay=".5s" />
    
            <div class="box3">
              <a [href]="'/work/'+previousProject.template+'/'+previd">
                <div class="title">Previous project</div>
              </a>
              <a [href]="'/work/'+nextProject.template+'/'+nextid">
                <div class="subtitle">Next project</div>
              </a>
            </div>
    
          </div>
    
        </div>
      </section>
    </div>
    
    <app-category></app-category>