<div class="all">
      <section class="one" >
        <h1>AJO IDEA SPACE</h1>
        <div class="spans">
          <div class="links">
            <span>Works / Commercial / AJO IDEA SPACE </span>
          </div>
          <div class="locations">
            <span> Dhaka,Bangladesh </span>
          </div>
        </div>
    
        <div class="img">
          <img src="../../../assets/images/bigimg1.png" alt="">
        </div>
      </section>
    
      <section class="two" >
          <div class="rectangle">
                <h3>About</h3>
                <div class="paragraph">
                      <h2>
                            AJO, in Bangla is often used to describe something old, left out or irrelevant to its time. The word was used by the restaurant’s Founder and ideator Khaled Mahmud   
                      </h2>
    
                      <p>
                            as the idea was to convert a left over space and turn it into a unique cafe near an art gallery. It was a very popular hangout space among people including artist, thinkers and designers. It acted as a platform where any one could meet and talk with artists and intellects.    
                      </p>
                </div>
    
                <div class="boxes">
                      <div class="box1">
                            <div class="title">
                                  Building Programme and Type:  
                            </div>
                            <div class="subtitle">
                                  Café and restaurant with community engagement programs  
                            </div>
                      </div>
                      <div class="box2">
                            <div class="title">
                                  Project address:  
                            </div>
                            <div class="subtitle">
                                  (23°52'13.6"N 90°23'31.8"E) 
                                  Road 2, Sector 13, Uttara, 1230 Dhaka, Bangladesh
                            </div>
                      </div>
                      <div class="box3">
                            <div class="title">
                                  Client:   
                            </div>
                            <div class="subtitle">
                                  Khaled Mahmud
                            </div>
                      </div>
                </div>
          </div>
    
          <div class="bigimg">
                <img src="../../../assets/images/bigimg2.png" alt="">
          </div>
      </section>
    
      <section class="three" >
          
            <div class="carousel-container">
                  <button class="carousel-btn prev" (click)="scroll(-1)">&#10094;</button>
                  <div class="carousel">
                    <img *ngFor="let url of imageUrls" [src]="url">
                  </div>
                  <button class="carousel-btn next" (click)="scroll(1)">&#10095;</button>
                  
                </div>
      
    
          <!-- <div class="descriptions">
                
                <div class="boxes">
                      <h3>
                            Design Teams:
                      </h3>
                      <div class="box1">
                            <div class="title">
                                  Principal architect:
                            </div>
                            <div class="subtitle">
                                  Ar.Rashed Hassan Chowdhury  
                            </div>
                      </div>
                      <div class="box2">
                            <div class="title">
                                  Project Architect:  
                            </div>
                            <div class="subtitle">
                                  Ar.Sayedil Ashrafin, Ar.Emon Mahbub
                            </div>
                      </div>
                      <div class="box3">
                            <div class="title">
                                  Landscape Architect: 
                            </div>
                            <div class="subtitle">
                                  In house Collaborators
                            </div>
                      </div>
                      <div class="box4">
                            <div class="title">
                                  Structural designer: 
                            </div>
                            <div class="subtitle">
                                  Engr.Shamsul Alam <hr>
                                  Engr.Asaduzzaman  <hr>
                                  Engr.Mamunur Rashid <hr> 
                                  Electrical Engr. Afzal Ahmed <hr> 
                                  Mechanical Engr. Kamruzzaman 
                            </div>
                      </div>
                      <div class="box5">
                            <div class="title">
                                  Construction Firm:
                            </div>
                            <div class="subtitle">
                                  ALM Steel Building Technology limited
                            </div>
                      </div>
                      <div class="box6">
                            <div class="title">
                                  Supported by: 
                            </div>
                            <div class="subtitle">
                                  Mir Akter Real Estate
                            </div>
                      </div>
                </div>
    
    
                <div class="img">
                      <img src="../../../assets/images/medimg1.png" alt="">
                </div>
          </div> -->
              
              
      </section>
    
    
      <section class="four">
    
          <div class="video">
                <button class="active">play</button>
              <video id="myVideo" controls autoplay>
                <source src="../../../assets/videos/testvid1.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>  
          </div>
          
          <div class="description">
                <div class="boxes">
                      <div class="box1">
                            <div class="title">
                                  Photographs: 
                            </div>
                            <div class="subtitle">
                                  Noufel Sharif Sojol
                            </div>
                      </div>
                      <div class="box2">
                            <div class="title">
                                  Accolades:  
                            </div>
                            <div class="subtitle">
                                  <span>
                                        1. Berger Award for Excellence in Architecture, <br> 2017 Best Architects' Award <br>Category: Commercial / Mercantile / Outlet <br> Category <hr>
                                  </span>  
                                  
                                  <span>
                                        2. 28th JK AYA (Architect of the Year Awards) 2018 <br> Young Architect Award <br> Category: Foreign Country Architecture Award
    
                                  </span>
                                  
                                   
                                  
                                 
    
                            </div>
                      </div>
    
                      <div class="box3">
                            <div class="title">
                                  Previous project: 
                                  
                            </div>
                            <div class="subtitle">
                                  Next project:
                                 
                            </div> 
                      </div>
                      
                </div>  
    
          </div>
      </section>
    </div>
    