<div class="navbar">
  <div class="logo">
    <img src="../../../assets/images/logo2.png" alt="" />
  </div>
  <div class="uls">
    <ul>
      <li class="links active">Works</li>
      <li class="links ">News</li>
      <li class="links">About</li>
      <li class="links">Connect</li>
      <!-- app.component.html -->

      <div class="ham">
        <div class="hamburger" [class.active]="isMenuOpen" (click)="toggleMenu()">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        
        <div class="slide-menu" [class.active]="isMenuOpen">
          <ul>
            <li class="active"><a href="#"> <h4>Works</h4></a></li>
            <li><a href="#"> <h4>News</h4></a></li>
            <li><a href="#"> <h4>About</h4></a></li>
            <li><a href="#"> <h4>connect</h4></a></li>
            <!-- Add more list items as needed -->
          </ul>
          <hr>

          <div class="address">
            <span>House 82, Road 05, Block F, Banani, Dhaka 1213</span><br>
            <span>+8801796064118</span><br>
            <span>info@dehsarworks.com</span><br>
            <span>Available Time- 8 AM - 5 PM</span> <br>


            <span class="spn">Facebook</span>
              <span class="spn">Instagram</span>
              <span class="spn">LinkedIn</span>
          </div>
          <div class="social">
            
              
            
          </div>
        </div>

        
      </div>


    </ul>
  </div>
</div>
