<div class="all" data-scroll-container>
  <section class="one" data-scroll-section>
    <h1 class="wow animate__fadeInUp" data-wow-delay="0.1s">{{ selectedProject.title }}</h1>
    <div class="spans">
      <div class="links wow animate__fadeInUp" data-wow-delay="0.3s">
        <span>Works / {{ selectedProject.category }} / {{ selectedProject.title }} </span>
      </div>
      <div class="locations wow animate__slideInUp" data-wow-delay="0.2s">
        <span> Dhaka,Bangladesh </span>
      </div>
    </div>

    <div class="img">
      <img class="wow" data-wow-delay=".2s" src="{{ selectedProject.photoLink0 }}" alt="" />
    </div>
  </section>

  <section class="two" data-scroll-section>
    <div class="rectangle">
      <h3 class="wow animate__fadeInUp" data-wow-delay="0.2s">About</h3>
      <div class="paragraph">
        <h2 class="wow animate__fadeInUp" data-wow-delay="0.1s">
          {{selectedProject.highlightedDescription}}
        </h2>

        <p class="wow animate__fadeInUp" data-wow-delay="0.3s">
          {{selectedProject.generalDescription}}
        </p>
      </div>

      <div class="boxes">
        <hr class="wow" data-wow-delay=".5s" />
        <div class="box1 wow animate__fadeIn" data-wow-delay=".5s ">
          <div class="title">
            Building Programme and Type: 
          </div>
          <div class="subtitle">
            {{selectedProject.buildingType}}
          </div>
        </div>
        <hr class="wow" data-wow-delay=".6s" />
        <div class="box2 wow animate__fadeIn" data-wow-delay="1s">
          <div class="title">
            Project address:
          </div>
          <div class="subtitle">
            {{selectedProject.projectAddress}}
          </div>
        </div>
        <hr class="wow" data-wow-delay=".7s" />
        <div class="box3 wow animate__fadeIn" data-wow-delay="1.5s">
          <div class="title">
            Client: 
          </div>
          <div class="subtitle">
            {{selectedProject.client}}
          </div>
        </div>
        <hr class="wow" data-wow-delay=".8s" />
        <div class="box4 wow animate__fadeIn" data-wow-delay="1.5s">
          <div class="title">
            Design Period:
          </div>
          <div class="subtitle">
            {{selectedProject.designperiod}}
          </div>
        </div>
        <hr class="wow" data-wow-delay=".8s" />
        <div class="box5 wow animate__fadeIn" data-wow-delay="1.5s">
          <div class="title">
            Construction Period: 
          </div>
          <div class="subtitle">
            {{selectedProject.constructionPeriod}}
          </div>
        </div>
        <hr class="wow" data-wow-delay=".8s" />
        <div class="box6 wow animate__fadeIn" data-wow-delay="1.5s">
          <div class="title">
            Status:
          </div>
          <div class="subtitle">
            {{selectedProject.status}}
          </div>
        </div>
        <hr class="wow" data-wow-delay=".8s" />
      </div>
    </div>

    <div class="bigimg">
      <img class="wow" data-wow-delay=".2s" src="{{ selectedProject.photoLink1 }}" alt="" />
    </div>
  </section>

  <section class="three" data-scroll-section>
    <div class="descriptions">
      <div class="boxes">
        <div class="img">
          <img src="{{ selectedProject.photoLink2 }}" alt="" />
        </div>
        <h3 class="links wow animate__fadeIn" data-wow-delay="0.2s">
          Design Teams:
        </h3>

        <div class="titlebox">
          <hr class="wow" data-wow-delay=".2s">
          <div class="box1 wow animate__fadeIn" data-wow-delay=".5s">
            <div class="title">Principal architect:</div>
            <div class="subtitle">{{selectedProject.principalArchitect}}</div>
          </div>
          <hr class="wow" data-wow-delay=".3s">
          <div class="box2 wow animate__fadeIn" data-wow-delay=".6s">
            <div class="title">Project Architect:</div>
            <div class="subtitle">{{selectedProject.projectArchitect}}</div>
          </div>
          <hr class="wow" data-wow-delay=".4s">
          <div class="box3 wow animate__fadeIn" data-wow-delay=".7s">
            <div class="title">Landscape Architect: </div>
            <div class="subtitle">{{selectedProject.landscapeArchitect}}</div>
          </div>
          <hr class="wow" data-wow-delay=".5s">
          <div class="box4 wow animate__fadeIn" data-wow-delay=".8s">
            <div class="title">Structural designer: </div>
            <div class="subtitle wow animate__fadeIn" data-wow-delay=".8s">
              <ng-container *ngFor="let item of selectedProject.structuralDesigner.split(',')">
                {{ item.trim() }}
                <hr>
              </ng-container>
            </div>
          </div>
          <hr class="wow" data-wow-delay=".6s">
          <div class="box5 wow animate__fadeIn" data-wow-delay=".9s">
            <div class="title">Construction Firm:</div>
            <div class="subtitle">{{selectedProject.constructionFirm}}</div>
          </div>
          <hr class="wow" data-wow-delay=".7s">
          <div class="box6 wow animate__fadeIn" data-wow-delay="1s">
            <div class="title">Supported by:</div>
            <div class="subtitle">{{selectedProject.supportedBy}}</div>
          </div>
          <hr class="wow" data-wow-delay="1s">
        </div>
      </div>

      <div class="sideImage">
        <img src="{{ selectedProject.photoLink3 }}" alt="" />
      </div>
    </div>
  </section>

  <section class="five" data-scroll-section>
    <div class="bigImg">
      <img src="{{ selectedProject.photoLink4 }}" alt="" />
    </div>

    <div class="longImg">
      <img class="wow" src="{{ selectedProject.photoLink5 }}" alt="" />
      <img class="wow" src="{{ selectedProject.photoLink6 }}" alt="" />
      <img class="wow" src="{{ selectedProject.photoLink7 }}" alt="" />
    </div>
  </section>

  <section class="six" data-scroll-section>
    <div class="bigImg">
      <img src="{{ selectedProject.photoLink8 }}" alt="" />
    </div>

    <div class="longImg">
      <img src="{{ selectedProject.photoLink9 }}" alt="" />
      <img src="{{ selectedProject.photoLink10 }}" alt="" />
    </div>
  </section>

  <section class="seven" data-scroll-section>
    <div class="carousel-container">

      <div class="carousel">
        <img *ngFor="let url of imageUrls" [src]="url" />
      </div>
      <div class="pill">

        <button class="carousel-btn prev" (click)="scroll(-1)">&#10094;</button>
        <button class="carousel-btn next" (click)="scroll(1)">&#10095;</button>
      </div>

    </div>
  </section>

  <section class="four" data-scroll-section>
    <div class="video" (click)="playPauseAction()">
      <button class="active">
        {{ playPauseText }}</button>
      <video id="myVideo" loop>
        <source src="../../../assets/videos/testvid1.mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="description">
      <div class="boxes">
        <hr class="wow" data-wow-delay=".5s" />
        <div class="box1  wow animate__fadeIn" data-wow-delay=".5s">
          <div class="title">Photographs:</div>
          <div class="subtitle">{{selectedProject.photographs}}</div>
        </div>
        <hr class="wow" data-wow-delay=".5s" />
        <div class="box2 wow animate__fadeIn" data-wow-delay=".6s">
          <div class="title">Accolades:</div>
          <div class="subtitle">
            <ng-container *ngFor="let item of selectedProject.accolades;let i=index">
              <span [innerHTML]="item">
              </span>
              <hr class="wow" data-wow-delay=".8s" *ngIf="i!=selectedProject.accolades.length-1" />
            </ng-container>
          </div>
        </div>
        <hr class="wow" data-wow-delay=".5s" />
        <div class="box3">
          <a [href]="'/work/'+previousProject.template+'/'+previd">
            <div class="title">Previous project</div>
          </a>
          <a [href]="'/work/'+nextProject.template+'/'+nextid">
            <div class="subtitle">Next project</div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="catagory">
    <h1>
      View All Category
    </h1>
    <p>
      28th JK AYA (Architect of the Year Awards) 2018 Young Architect AwardCategory: Foreign Country Architecture Award
    </p>

    <div class="slider">
      <button class="slider__control prev" (click)="prevSlide()"><<i class="fa-solid fa-chevron-left"></i></button>
      <button class="slider__control next" (click)="nextSlide()">><i class="fa-solid fa-chevron-right"></i></button>
      <div class="slider__container" [attr.data-multislide]="false" [attr.data-step]="step" #sliderContainer>
        <div class="slider__item" *ngFor="let item of items">

          <h2 style="color: rgb(255, 255, 255); font-family:groteskMed;">{{ item.title }}</h2>

          <img [src]=" item.imageUrl" alt="" width="100%">

        </div>
      </div>
    </div>

    <div class="footer">
      <h3>copyright 2024 Dehsarworks. All rights are reserved.</h3>
    </div>

  </section> -->
</div>


<app-category></app-category>